.header-link {
  padding-left: 0.1em;
  padding-right: 0.1em;
}
.icon-link {
  display: inline-block;
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.icon-link i {
  font-size: 0.8em
}

.article-read{
  font-weight: 500;
  color: #1770fc;
}

.article-read i{
  font-size: 0.9em;
}

.article hr{
  height: 1px
}

.article a{
  text-decoration: none;
  color: #1770fc;
}
