.header-link {
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.icon-link {
  display: inline-block;
  position: relative;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.icon-link i {
  font-size: 0.8em
}

.article-read {
  font-weight: 500;
  color: #1770fc;
}

.article-read:hover {
  color: #5999ff;
}

.article-read i {
  font-size: 0.9em;
}

.article hr {
  height: 1px
}

.article a {
  text-decoration: none;
  color: #1770fc;
}

.article a:hover {
  color: #5999ff;
}

.tags {
  font-size: 0.76em;
  font-weight: 625;
}

.tags a {
  padding-right: 0.65em;
}

.tags a:hover {
  text-decoration: underline;
}
