---
import Layout from '../layouts/BlogPost.astro';
---
<Layout
  title="About"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('April 25, 2024')}
  heroImage="/blog-placeholder-about.jpg"
>
  <div class="mx-auto max-w-3xl">
    <p>Hey! I'm Nate, a machine learning engineer from Canada currently based in Paris.</p>

    <p>I made this blog as a place to share ML-related projects I'm working on and miscellaneous AI or CS concepts I'm learning along the way.</p>

    <p>Enjoy!</p>

  </div>
</Layout>
