---
import Layout from '../layouts/BlogPost.astro';
---
<Layout
  title="About"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date('April 25, 2024')}
  heroImage="nostromo.png"
>
  <div class="mx-auto max-w-3xl">
    <p>ML engineer from Canada currently based in Paris.</p>

    <p>Enjoy!</p>

  </div>
</Layout>
