---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('April 25, 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
<p>Hey! I'm Nate, a machine learning engineer from Canada.</p>

<p>At work I research, train, and quantize llms on tiny compute budgets. These days I'm exploring the ops side of things more and learning how to do scaleable and low-latency ML.</p>

<p>This website is built with <a href="https://astro.build/" style="text-decoration:none">Astro.js</a> and hosted on GitHub pages.</p>
</Layout>
