---
const today = new Date();
---

<footer class="flex flex-row justify-between text-xs my-16 mx-auto mx-auto w-full md:w-1/2">
  <span>&copy; {today.getFullYear()} Nate Nethercott</span>
  <div class="social-links">
    <a href="https://github.com/nnethercott" target="_blank" class="icon-link">GitHub <i class="fa-solid fa-up-right-from-square"></i></a>
    <a href="https://www.linkedin.com/in/nate-nethercott-99b546176/" target="_blank" class="pl-4">linkedin <i class="fa-solid fa-up-right-from-square"></i></a>
  </div>
</footer>

