---
const today = new Date();
---


<footer class="flex flex-row justify-between text-xs my-16">
  &copy; {today.getFullYear()} Nate Nethercott
  <div class="social-links">
    <a href="https://github.com/nnethercott" target="_blank" class="icon-link">GitHub <i class="fa-solid fa-up-right-from-square"></i></a>
    <a href="https://huggingface.co/nnethercott" target="_blank" class="icon-link">HuggingFace <i class="fa-solid fa-up-right-from-square"></i></a>
  </div>
</footer>
